/* Background Attributes */
.bgm-primary { background-color: $primary !important; }
.bgm-white { background-color: $white !important; }
.bgm-black { background-color: $black !important; }
.bgm-brown { background-color: $brown !important; }
.bgm-pink { background-color: $pink !important; }
.bgm-red { background-color: $red !important; }
.bgm-blue { background-color: $blue!important; }
.bgm-purple { background-color: $purple !important; }
.bgm-deeppurple { background-color: $deeppurple !important; }
.bgm-lightblue { background-color: $lightblue !important; }
.bgm-cyan { background-color: $cyan !important; }
.bgm-teal { background-color: $teal !important; }
.bgm-green { background-color: $green !important; }
.bgm-lightgreen { background-color: $lightgreen !important; }
.bgm-lime { background-color: $lime !important; }
.bgm-yellow { background-color: $yellow !important;}
.bgm-amber { background-color: $amber !important; }
.bgm-orange { background-color: $orange !important; }
.bgm-deeporange { background-color: $deeporange !important; }
.bgm-gray { background-color: $gray !important; }
.bgm-bluegray { background-color: $bluegray !important; }
.bgm-indigo { background-color: $indigo !important; }
.bg-black-trp { background-color: rgba(0, 0, 0, 0.1)!important; }

/* Color Attribures*/
.c-white { color: $white !important; }
.c-black { color: $black !important; }
.c-brown { color: $brown !important; }
.c-pink { color: $pink !important; }
.c-red { color: $red !important; }
.c-blue { color: $blue !important;}
.c-purple { color: $purple !important; }
.c-deeppurple { color: $deeppurple !important; }
.c-lightblue { color: $lightblue !important; }
.c-cyan { color: $cyan !important; }
.c-teal { color: $teal !important; }
.c-green { color: $green !important; }
.c-lightgreen { color: $lightgreen !important; }
.c-lime { color: $lime !important; }
.c-yellow { color: $yellow !important; }
.c-amber { color: $amber !important; }
.c-orange { color: $orange !important; }
.c-deeporange { color: $deeporange !important; }
.c-gray { color: $gray !important; }
.c-bluegray { color: $bluegray !important; }
.c-indigo { color: $indigo !important; }
