.login-column-wrap{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.login-container{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0; 
	background: #dddddd;
	.login-flex{
		border-radius: 0;
		box-shadow: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%; 
		position: relative; 
		background-clip: padding-box; 
		outline: 0;
	}
	.login-holder{
		position: relative; 
		width: 100%;
	}
	.login-box{
		margin: 0 auto;
		max-width: 400px; /* 272 */
		height: 100%;
		border-radius: 3px;
		box-shadow: 0 1px 1px rgba(0,0,0,0.15);
		background-color: #fff;
		background-clip: padding-box;
		outline: none;
		-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);	
		height: auto !important;
	}
	.card-footer{
		background: $secondary;
		padding: 11px 22px; 
		text-align: center;
		div:hover{ background: $secondary; }
		a{
			color: #FFF;
			text-decoration: none;
			font-size: 14px !important;
			display: block;
			width: 100%;
		}
	}
	.card{
		box-shadow: 0 3px 7px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
		.lock-img{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 3px solid $secondary;
			position: absolute;
			top: -50px;
			left: 50%;
			margin-left: -50px;
			box-shadow: 0 -4px 10px rgba(0,0,0,0.18);
			z-index: 100;
			transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out !important;
			transform: rotate(60deg);
			&.active{
				transform: rotate(0deg);
			}
		}
		
	}
	.card-header{
		background: $secondary;
		color: #FFF;
		text-align: center;
		padding: 11px 22px !important;
		h2.no-content{
			padding: 5px;
		}
	}
	.login-box .form-control{
		background: transparent;
	}
	.login-btn{
		background-color: #00796B;
		color: #FFFFFF !important;
		opacity: 0.9;
		background-color: rgb(34, 47, 60);
		line-height: 36px;
		padding: 0 16px;
	}
}

.main.push{
	transform:  translate3d(0, 0, -300px);
	-webkit-transform: translate3d(0, 0, -300px);
}
.ellipsis{
    text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}


.product-nav-hint{
	color: #a2a2a2;
	white-space: normal !important; 
	line-height: 12px;
	font-size: 11px !important;
}
/* col-xs */
@media screen and (min-width: 30px) and (max-width: 767px){
	.login-holder{
		overflow: auto;
	}
	.login-box{
		margin: 80px auto !important;
	}
}

/* New Login 2 */
.box-block {
  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  width: 100%;
  display: inline-block;
  margin-top: 42px;
  vertical-align: middle;
  position: relative;
}
.block-txt{
	margin: 0;
    line-height: 100%;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.header-txt{
    color: #FFF; 
    position: absolute; 
    top: 0; 
    width: 100%; 
    text-align: left; 
    font-size: 24px; 
    padding-left: 50px; 
    padding-top: 50px; 
    z-index: 2;
}
.container-absolute{
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background: #ddd;
}
.container-flexbox {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    height: 100%; 
    position: relative;
}
.container-flexbox .left{
    width: 65%;
    background: #151922;
}
.container-flexbox .right{
    width: 35%;
    background: #008ac4;
    z-index: auto;
}
.container-flex{
    border-radius: 0; 
    box-shadow: none; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    height: 100%; 
    position: relative; 
    background-clip: padding-box; 
    outline: 0;
}
.container-holder{
    position: relative; 
    width: 100%;
}
.container-box{
    height: 100%; 
    border-radius: 3px; 
    background-clip: padding-box; 
    outline: none; 
    height: auto !important;
}

.container-flexbox .left .container-box{
    margin: 0;
    width: 100%;
    color: #FFF;
    text-align: left;
}
.container-flexbox .left .container-box h3{
    color: #FFF !important;
}
.container-flexbox .right .container-box {
    margin: 0 auto; 
    width: 500px; 
}
@media screen and (max-width: 1023px){
    .container-flexbox .left{
        width: 0% !important;
        display: none;
    }
    .container-flexbox .right{
        width: 100% !important;
    }
    .container-flexbox .left .container-box{
        width: 100% !important;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
    .container-flexbox .left{
        width: 50% !important;
    }
    .container-flexbox .right{
        width: 50% !important;
    }
    .container-flexbox .right .container-box,
    .container-flexbox .right .container-box .lc-block{
        width: 95% !important;
    }
    .container-flexbox .left .container-box{
        width: 100% !important;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1467px){
    .container-flexbox .left{
        width: 50% !important;
    }
    .container-flexbox .right{
        width: 50% !important;
    }
}
@media screen and (max-width: 500px){
    .container-flexbox .right .container-box {
		width: calc(100% - 15px);
	}
}
.slide-1{
    background: url(/assets/img/bg_1.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slide-1 .carousel-content img,
.slide-1 .carousel-content .content-text,
.slide-2 .carousel-content .content-text{
    position: absolute; 
    top: 30%; 
    left: 10%; 
    width: 70%;
}
.slide-2{
    background: url(/assets/img/bg_2.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slide-1 .carousel-content,
.slide-2 .carousel-content{
    position: relative; 
    height: calc(100vh);
}

/* owl-carousel */
.owl-carousel{
    pointer-events: none;
}
.owl-nav{
    margin-top: 0 !important;
    position: absolute !important;
    top: 45% !important;
    width: 100% !important;
    pointer-events: auto !important;
	padding-right: 35px;
    padding-left: 35px;
}
.owl-nav .owl-prev{
    float: left;
    margin-left: -33px !important;
    pointer-events: auto;
}
.owl-nav .owl-next{
    float: right;
    margin-right: -33px !important;
    pointer-events: auto;
}
.owl-nav .owl-prev,
.owl-nav .owl-next{
    background: rgba(0, 0, 0, 0.2) !important;
    color: #fff;
    font-size: 30px;
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 64px !important;
    -webkit-transition: background-color 400ms;
    transition: background-color 400ms;
    
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i {
    font-size: 30px !important;
    vertical-align: middle;
    margin-bottom: 9px;
}
