pagination.custom{
    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 18px 0;
        border-radius: 2px;
    }
    .pagination > li {
        margin: 0 2px;
        display: inline-block;
        vertical-align: top;
    }
    .pagination > li:first-child > a, 
    .pagination > li:first-child > span {
        margin-left: 0;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
    }
    .pagination > li > a, .pagination > li > span {
        position: relative;
    }
    .pagination > li > a, 
    .pagination > li > span {
        border-radius: 50% !important;
        width: 40px;
        height: 40px;
        padding-top: 9px;
        line-height: 1.42857143;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        z-index: 1;
        position: relative;
        border: 0;
        float: left;
        color: #7e7e7e;
        background-color: #e2e2e2;
        border: 1px solid #ffffff;
        margin-left: -1px;
    }
    .pagination > li > a::before, 
    .pagination > li > span::before {
        left: 0;
        top: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transform: scale3d(0, 0, 0);
        -moz-transform: scale3d(0, 0, 0);
        -ms-transform: scale3d(0, 0, 0);
        -o-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0);
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        transition-duration: 0s;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 0;
        border-radius: 50%;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .pagination > li > a:hover::before, 
    .pagination > li > span:hover::before, 
    .pagination > li > a.open::before, 
    .pagination > li > span.open::before {
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .pagination > .active > a, 
    .pagination > .active > span, 
    .pagination > .active > a:hover, 
    .pagination > .active > span:hover, 
    .pagination > .active > a:focus, 
    .pagination > .active > span:focus {
        z-index: 2;
        color: #ffffff;
        background-color: $primary;
        border-color: transparent;
        cursor: default;
    }
    .pagination > li.disabled {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .pagination > .disabled > span, 
    .pagination > .disabled > span:hover, 
    .pagination > .disabled > span:focus, 
    .pagination > .disabled > a, 
    .pagination > .disabled > a:hover, 
    .pagination > .disabled > a:focus {
        color: #777777;
        background-color: #e2e2e2;
        border-color: #ffffff;
        cursor: not-allowed;
    }
}