/* APPS IMPORTER */
// $primary: #202729;
$primary: #262F31;
$secondary: #455a64;
$light: #296172;
$cyan: #00bcd4;
$text: #666;
$white: #ffffff;


$black: #000;
$brown: #795548;
$pink: #e91e63;
$red: #f44336;
$blue: #2196f3;
$purple: #9c27b0;
$deeppurple: #673ab7;
$lightblue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$lightgreen: #8bc34a;
$lime: #cddc39;
$yellow : #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$deeporange: #ff5722;
$gray: #9e9e9e;
$bluegray: #607d8b;
$indigo: #3f51b5;

@import "demo";

@import "fonts";
@import "animate";
@import "style";
@import "pagination";
@import "tooltip";
@import "button";
@import "generic";
@import "header";
@import "aside";
@import "dropdown";
@import "modal";
@import "logreg";
@import "tabnavs";
@import "widgets";
@import "tables";
@import "calendar";
@import "forms";
@import "progressbar";
@import "charts";
@import "lightbox";
@import "gallery";
@import "profile";
@import "carousel";
@import "cards";
@import "colors";
@import "layoutcontroller";
